<page-header [title]="'目录管理'"></page-header>
<nz-card [nzBordered]="false">
    <form nz-form se-container="1" size="compact" gutter="32" [labelWidth]="null">
        <se label="操作" line>
            <button nz-button nzType="primary" (click)="addOneMenu()">添加一级目录</button>
            <button nz-button nzType="primary" (click)="addTwoMenu()">添加二级目录</button>
            <button nz-button nzType="primary" (click)="addThirdMenu()">添加三级目录</button>
        </se>
        <se label="一级目录">
            <tag-select>
                <nz-tag *ngFor="let i of categories; let idx = index" nzMode="checkable" [nzChecked]="i.value"
                        (nzCheckedChange)="changeCategory($event, idx)">
                    {{i.text}}
                </nz-tag>
            </tag-select>
        </se>
    </form>
</nz-card>
<nz-card>
    <st #st [columns]="columns" [data]="selectedRows" >
    </st>
</nz-card>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible" nzTitle="新增一级目录" (nzOnClose)="close()">
    <form nz-form [formGroup]="oneMenuForm" (ngSubmit)="submitOneMenu()" se-container="1" >
        <se *ngIf="menuOrder === 2" label="一级目录名称" error="请输入一级目录名称" required>
            <nz-select formControlName="firstMenuId" [nzPlaceHolder]="'请选择父目录'" [nzShowSearch]="true">
                <nz-option *ngFor="let i of categories" [nzLabel]="i.text" [nzValue]="i.id">
                </nz-option>
            </nz-select>
        </se>
        <se *ngIf="menuOrder === 3" label="一级目录名称" error="请输入一级目录名称" required>
            <nz-select formControlName="firstMenuId" [nzPlaceHolder]="'请选择父目录'" (ngModelChange)="changeOneMenu()" [nzShowSearch]="true">
                <nz-option *ngFor="let i of categories" [nzLabel]="i.text" [nzValue]="i.id">
                </nz-option>
            </nz-select>
        </se>
        <se *ngIf="menuOrder === 3" label="二级目录名称" error="请输入二级目录名称" required>
            <nz-select formControlName="secondLink" [nzPlaceHolder]="'请选择父目录'" [nzShowSearch]="true">
                <nz-option *ngFor="let i of secondMenus" [nzLabel]="i.text" [nzValue]="i.link">
                </nz-option>
            </nz-select>
        </se>
        <se label="目录名称" error="请输入目录名称" required>
            <input nz-input formControlName="text" placeholder="请输入目录名称">
        </se>
        <se label="英文翻译名" error="请输入一个英文的翻译名" required>
            <input nz-input formControlName="i18n" placeholder="请输入一个通用的英文翻译名,不可和其他的重复">
        </se>
        <se *ngIf="menuOrder === 2" label="目录图标" error="请输入一个目录图标" required>
            <input nz-input formControlName="icon" placeholder="请输入一个目录图标,最好和其他的要不一样">
        </se>
        <se label="跳转链接" *ngIf="menuOrder !== 1" error="请输入该目录的跳转地址" required>
            <input nz-input formControlName="link" placeholder="请输入一个目录跳转地址,最好和其他的要不一样">
        </se>
        <se label="角色权限控制" error="请选择角色权限控制">
            <nz-select formControlName="roles" [nzPlaceHolder]="'请选择角色权限'" nzMode="multiple" [nzShowSearch]="true">
                <nz-option *ngFor="let i of roleList" [nzLabel]="i.label" [nzValue]="i.value">
                </nz-option>
            </nz-select>
        </se>
    </form>
    <div class="footer">
        <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>取消</span></button>
        <button type="button" [disabled]="oneMenuForm.invalid" (click)="submitOneMenu()" class="ant-btn ant-btn-primary"><span>添加</span></button>
    </div>
</nz-drawer>

